// Specific CSS for your home-page
// Specific CSS for your home-page

.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 0;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: #24557F;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
}

// font-family: 'Archivo Black', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Ubuntu', sans-serif;
// font-family: 'Montserrat', sans-serif;

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-text i {
  font-size: 34px;
}

.banner h3 {
  font-size: 32px;
  color: #24557F;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300 ;

}

.how-it-works {
  color: #24557F;
}
// title

