<!-- Landing Page Image start -->

<div class="banner" style="background-image: linear-gradient(180deg, rgba(196, 196, 196, 0.30) 0%, rgba(255, 255, 255, 1) 300%), url(<%= image_path 'cover.jpg' %>);">
  <div class="container text-center">
    <div class="landing-text">
      <h1 class="mb-4">Specialists in podiatric sports injuries and biomechanics <i class="fas fa-shoe-prints"></i></h1>
      <h3 class="my-4"></h3>
      <div class="landing-button">
        <a href="" class="btn" style="background-color: #24557F; color: white">Book a consultation</a>
      </div>
    </div>
  </div>
</div>

<!-- Landing Page Image finish -->

<!-- Services start -->
<div class="d-flex justify-content-around">
  <h2 class="text-center p-2 mt-4 mb-2 how-it-works" >Services</h2>
</div>
<div>
  <div class="banner-cards d-flex justfy-content-around">
    <div class="banner-card mx-4">
      <%= image_tag "icon1.png", alt: "alttext" %>
      <h4>Health Insurance</h4>
      <p>See which insurance companies we deal with </p>
    </div>
    <div class="banner-card mx-4">
      <%= image_tag "teen.png", alt: "alttext" %>
      <h4>Specialist Adolescent Care</h4>
      <p>Book an appointment </p>
    </div>
    <div class="banner-card mx-4">
      <%= image_tag "icon3.png", alt: "alttext" %>
      <h4>Biomechanical Analysis</h4>
      <p>Treatment of foot problems and lower limb injuries</p>
    </div>
  </div>
</div>
<!-- Services finish -->

<!-- What is Pod? start -->
<div>
  <div class="d-flex justify-content-around">
    <h2 class="text-center p-2 mt-4 mb-2 how-it-works" >About Us</h2>
  </div>
  <h4>What is podiatry?</h4>
  <p>We are a group of HPC Registered Podiatrists who assess and treat the lower limb for biomechanical deformities and musculoskeletal injuries. By looking at the way certain joints and muscles function the Podiatrists are able to determine if the way you are walking may be contributing to a current injury or problem. All patients are assessed with slow motion video gait analysis by the Podiatrist to visualise their individual gait pattern.</p>
  <h4>Some of the injuries of the feet and lower limbs that we treat are…</h4>
  <p>
    Heel pain/Plantar Fasciitis
    Arch pain
    Achilles tendinopathy
    Ankle pain
    Shin pain
    Bunion pain
    Metatarsalgia/Neuroma
    Gait related or postural back pain
    Knee pain
    …we can also help with footwear problems</p>
  <h4>Associations</h4>
  <p>The Gait Lab are an integral part of The Hypermobility Unit team which is a specialist service for the diagnosis and management of all hypermobility-related disorders. For more information please visit
    www.thehypermobilityunit.org.uk
    The Gait Lab also work closely with The London Rheumatology Clinic who are  a multidisciplinary integrated clinical service focused upon the diagnosis and management of rheumatological disorders ranging from; Biomechanical problems; Bone changes to Inflammatory diseases that affect mainly the musculoskeletal system.  For further information please visit
    www.londonrheumatology.co.uk</p>
</div>
<!-- What is Pod? finish -->

<!-- Meet the team start -->
<div>
  <div class="d-flex justify-content-around">
    <h2 class="text-center p-2 mt-4 mb-2 how-it-works" >Meet the Team</h2>
  </div>
</div>
<div>
<!-- Meet the team finish -->

<!-- Resources start -->
  <div class="d-flex justify-content-around">
    <h2 class="text-center p-2 mt-4 mb-2 how-it-works" >Resources</h2>
  </div>
</div>
<!-- Resources finish -->


