<!-- Landing Page Image start -->

<div class="banner" style="background-image: linear-gradient(180deg, rgba(196, 196, 196, 0.30) 0%, rgba(255, 255, 255, 1) 300%), url(<%= image_path 'feet.jpg' %>);">
  <div class="container text-center">
    <div class="landing-text">
      <h1 class="mb-4">The Gait Lab</h1>
      <h3 class="my-4">Specialists in podiatric sports injuries and biomechanics</h3>
      <div class="landing-button">
        <a href="" class="btn" style="background-color: #24557F; color: white">Book a consultation</a>
      </div>
    </div>
  </div>
</div>

<!-- Landing Page Image finish -->

<!-- Services start -->
<!-- Services finish -->

<!-- Meet the team start -->
<!-- Meet the team finish -->

<!-- Resources start -->
<!-- Resources finish -->
