.footer {
  background-color: #ffffff;
  background-size: cover;
  height: 20vh;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social .fab {
  font-size: 30px;
  color: #24557F;
  padding: 5px;
}

.fas {
  color: #24557fa1;
}

// #sort-down {
//   color: #202c31;
// }
