#navbar {
  background-color: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 2;
  padding: 30px 10px;

  a {
    color: #24557F;
  }
}

#nav-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


#navbar h1 {
  color: #24557F;
  font-size: 60px;
  font-family: 'Quicksand', sans-serif;
}




