#navbar {
  background-color: hidden;
  position: fixed;
  top: 0; /* Stay on top */
  width: 100%;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  text-align: center;
  z-index: 2;

  #nav-content {
    padding: 15px;
  }

  a {
    margin: 25px;
    color: #24557F;
  }
}

#navbar h1 {
  color: #24557F;
  font-size: 60px;
  font-family: 'Quicksand', sans-serif;
}

.disappear {
  color:none; 
  flex-shrink: 3;
}




